@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssespecific {
    @RenderSection("cssespecific", required: false)
}

<div id="content">
    <div class="row">

        <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 @ViewBag.Tamanho">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>@ViewBag.Title</h2>
                </header>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->
                <div class="widget-body no-padding">

                    @RenderBody()

                </div>
            </div>
            <!-- end widget -->
        </article>
        <!-- END COL -->
    </div>
</div>


@section pagespecific {
    @RenderSection("pagespecific", required: false)
}