@model Conciliacao.Models.Relatorios.TransacaoCreditosViewModel

@{
    Layout = null;
}

<html>
<head>
    <title>Relatório de créditos</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/invoice.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/lockscreen.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/site.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/smartadminproductionplugins.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/smartadminproduction.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/smartadminskins.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/sweetalert2.css"> 
    <link rel="shortcut icon" href="~/content/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/content/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <link rel="apple-touch-icon" href="~/content/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/content/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/content/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/content/img/splash/touch-icon-ipad-retina.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="~/content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/content/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <style>
        /** SPINNER CREATION **/
        .loader {
            position: relative;
            text-align: center;
            margin: 15px auto 35px auto;
            z-index: 9999;
            display: block;
            width: 80px;
            height: 80px;
            border: 10px solid rgba(0,0,0,.3);
            border-radius: 50%;
            border-top-color: #000;
            animation: spin 1s ease-in-out infinite;
            -webkit-animation: spin 1s ease-in-out infinite;
        }

        @@keyframes spin {
            to {
                -webkit-transform: rotate(360deg);
            }
        }

        @@-webkit-keyframes spin {
            to {
                -webkit-transform: rotate(360deg);
            }
        }

        /** MODAL STYLING **/
        .modal-content {
            border-radius: 0px;
            box-shadow: 0 0 20px 8px rgba(0,0,0,0.7);
        }

        .modal-backdrop.show {
            opacity: 0.75;
        }
    </style>
    <style type="text/css">
        .jqstooltip {
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            background: rgb(0, 0, 0) transparent;
            background-color: rgba(0,0,0,0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            border: 1px solid white;
            z-index: 10000;
        }

        .jqsfield {
            color: white;
            font: 10px arial, san serif;
            text-align: left;
        }
    </style>
    <style>
        #datatable_tabletools span {
            display: none;
        }

        #datatable_tabletools_debitos span {
            display: none;
        }

        .table {
            width: 100%;
            max-width: none;
        }
    </style>
</head>
<body class="dt-print-view">
    <h1>Relatório de créditos</h1>
    <div>Filtro utilizado-&gt; Data de lançamento: @ViewBag.DataInicio à @ViewBag.DataFinal</div>
    <div>Resumo: @ViewBag.filtro_resumo</div>
    <div>Administradora: @ViewBag.tp_administradora</div>
    <div>Banco: @Model.filtro_nm_banco</div>

    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-12">
        <ul id="sparks" class="">

            <li class="">
                <h4> <span class="" style="text-align: center;" id="labeltotaiso">Total geral: </span></h4>
            </li>

            <li class="sparks-info">
                <h5> &nbsp;&nbsp; Qtd. Créditos <span class="txt-color-black" style="text-align: right;" id="totqtd">@ViewBag.QtdRegistros</span></h5>
            </li>

            <li class="sparks-info">
                <h5> &nbsp;&nbsp; Total Créditos <span class="txt-color-purple" style="text-align: right;" id="totbruto">@ViewBag.TotalLiqCreditos</span></h5>
            </li>
        </ul>
    </div>

    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <thead>
            <tr>
                <th>Ponto.Venda</th>
                <th>Documento</th>
                <th>Dt.Lançamento</th>
                <th>Vl.Lançamento</th>
                <th>Banco</th>
                <th>Agência</th>
                <th>Conta</th>
                <th>Dt.Movimento</th>
                <th>Resumo.Venda</th>
                <th>Dt.Res.Venda</th>
                <th>Bandeira</th>
                <th>Vl.Bruto.Rv</th>
                <th>Vl.Taxa.desconto</th>
                <th>Nr.Parcela</th>
            </tr>
        </thead>
        <tbody>
            @{ DateTime data_group = DateTime.MinValue; decimal valor_soma = 0; }

            @foreach (var item in Model.ListCreditos)
            {

                if (data_group == DateTime.MinValue)
                {
                    data_group = item.data_lancamento;
                }

                if (data_group != item.data_lancamento)
                {
                    <tr class="group group-end">
                        <td colspan="2" style="text-align: right">Total da data:</td>
                        <td style="text-align: center">@data_group.ToString("dd/MM/yyyy")</td>
                        <td style="text-align: right">R$ @valor_soma.ToString("#,##0.00")</td>
                        <td colspan="10"></td>
                    </tr>
                    valor_soma = 0;
                }

                valor_soma = valor_soma + item.valor_lancamento;

                <tr>
                    <td style="width: 80px;">@Html.DisplayFor(modelItem => item.numero_pv_centralizador)</td>
                    <td>@Html.DisplayFor(modelItem => item.numero_documento)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => item.data_lancamento)</td>
                    <td style="text-align: right">@Html.DisplayFor(modelItem => item.valor_lancamento)</td>
                    <td>@Html.DisplayFor(modelItem => item.banco)</td>
                    <td>@Html.DisplayFor(modelItem => item.agencia)</td>
                    <td>@Html.DisplayFor(modelItem => item.conta_corrente)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => item.data_movimento)</td>
                    <td>@Html.DisplayFor(modelItem => item.numero_rv)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => item.data_rv)</td>
                    <td>@Html.DisplayFor(modelItem => item.bandeira)</td>
                    <td style="text-align: right">@Html.DisplayFor(modelItem => item.valor_bruto_rv)</td>
                    <td style="text-align: right">@Html.DisplayFor(modelItem => item.valor_taxa_desconto)</td>
                    <td>@Html.DisplayFor(modelItem => item.numero_parcela)</td>
                </tr>

                data_group = item.data_lancamento;

            }

            @if (valor_soma > 0)
            {
                <tr class="group group-end">
                    <td colspan="2" style="text-align: right">Total da data:</td>
                    <td style="text-align: center">@data_group.ToString("dd/MM/yyyy")</td>
                    <td style="text-align: right">R$ @valor_soma.ToString("#,##0.00")</td>
                    <td colspan="10"></td>
                </tr>
                valor_soma = 0;
            }

        </tbody>
    </table>
    <div>
    </div>
</body>
</html>