@model List<ConciliacaoModelo.model.conciliador.ArquivoDetalhado>

@{
    ViewBag.NomeDaJanela = "Resumo";
   // ViewBag.Action = "CadastrarAgenda";
  //  ViewBag.Controller = "Agenda";
 //   ViewBag.Title = "Agenda cadastradas";
    ViewBag.IconeTopo = "fa-list";
}

<table id="datatable_tabletools_detalhado" class="table table-striped table-bordered table-hover" width="100%">
    <thead>
        <tr>

            <th>
                Registro&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th>
                Estabelecimento&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th>
                RO
            </th>
            <th>
                Transação
            </th>
            <th>
                Produto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th>
                Cartão
            </th>
            <th>
                Valor.Bruto
            </th>
            <th>
                Valor.Liquído
            </th>
            <th>
                Parcela
            </th>
            <th>
                Total.Parcela
            </th>
            <th>
                Autorização
            </th>
            <th>
                NSU
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.registro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estabelecimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.transacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.produto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cartao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vl_bruto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vl_liquido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.parcela)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total_parcela)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.autorizacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nsu)
                </td>
            </tr>

        }
    </tbody>
</table>
